<!-- Newsletter Section -->
<section class="newslet-section reveal" id="news-letter-section">
    <div class="container-newslet">
        <!-- Bagian text newsletternya -->
        <div class="newstext">
            <h2>Subscribe for Offers and News</h2>
            <p>Get E-mail updates about our latest Products and <span>Special offers.</span></p>
        </div>

        <!-- Bagian Form Newsletternya -->
        <div class="form">
            <form class="newsletter-form" action="https://formspree.io/f/xzbwbgyl" method="POST" id="my-subscribeform">
                <input type="email" placeholder="Your Email Address" name="email" required>
                <button type="submit" class="subnews-btn">Subscribe</button>
            </form>
        </div>
    </div>

</section>
<!-- Newsletter Section -->


<!-- Footer Section -->
<footer class="footer-section reveal" id="footer-web-section">

    <div class="footer-top">

        <!-- Footer About Us Section -->
        <div class="about boxes">
            <h2>About us</h2>

            <div class="kontenfooter">
                <p>Frizfoo merupakan Suatu Web Application yang dapat menghubungkan pembeli dan penjual
                    dalam
                    satu
                    komunitas, tetapi hanya
                    berfokus pada produk Frozen Food.
                </p>

                <div class="social-list">
                    <a aria-label='facebookShare' href="/" target="_blank" rel="noopener">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a aria-label='twitterShare' href="/" target="_blank" rel="noopener">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a aria-label='instagramShare' href="/" target="_blank" rel="noopener">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a aria-label='youtubeShare' href="https://youtu.be/FNFutPOVbkA" target="_blank" rel="noopener">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer Company Section -->
        <div class="company boxes">
            <h2>Company</h2>

            <div class="kontenfooter">
                <ul class="footer-list">
                    <li>
                        <a href="/product">
                            <i class="fas fa-angle-double-right"></i>
                            <span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="fas fa-angle-double-right"></i>
                            <span>About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <i class="fas fa-angle-double-right"></i>
                            <span>Contact Us</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Footer Address Section -->
        <div class="address boxes">
            <h2>Address</h2>

            <div class="kontenfooter">
                <div class="place">
                    <i class="fas fa-map-marker-alt iconaddress"></i>
                    <span class="text">Makassar, Indonesia</span>
                </div>
                <div class="telepon">
                    <i class="fas fa-phone-alt iconaddress"></i>
                    <span class="text">085155098234</span>
                </div>
                <div class="email">
                    <i class="fas fa-envelope iconaddress"></i>
                    <span class="text">frizfoo@gmail.com</span>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <span class="credit">Created By <a href="/" target="_blank" rel="noopener">Liella!</a> | </span>
        <span class="far fa-copyright"></span>
        <span></span>
    </div>

</footer>
<!-- Footer Section -->