<!-- Page 404 Error Page Section -->
<section class="pagenot-section" id="pagenot-found-section">
    <div class="container-pagenot-found">

        <!-- Error Page Title -->
        <h1>Oops! <span>Page not found...</span></h1>

        <!-- Image 404 -->
        <div class="img-wrapper">
            <img src="/img/404.svg" alt="404 Error Image" class="banner-animation">
        </div>

        <!-- Error Page Description -->
        <div class="text-error-page">
            <p>Sorry We Cant Find The Page You Are Looking For.</p>
            <p>You May Have Mistyped The Address Or The Page May Have Moved.</p>
        </div>
        <a href="/" class="btn-back-home">Back To Home</a>

    </div>
</section>
<!-- Page 404 Error Page Section -->





<script src="/js/navbarscript.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/subscribeform.js"></script>