<!-- Page Header/Breadcumb Section -->
<section class="breadcumb-section myprouppro-header" id="breadcumb-header-section">
    <!-- Judul Breadcumb -->
    <h2 class="page-title">Change Password</h2>

    <!-- List Breadcumb -->
    <ol class="breadcumb-list">
        <li class="breadcumb-item">
            <a href="/" class="breadcumb-link">Home</a>
        </li>

        <li class="breadcumb-item">
            <a href="/change-password" class="breadcumb-item">Change Password</a>
        </li>
    </ol>

</section>
<!-- Page Header/Breadcumb Section -->


<!-- Change Password Section -->
<section class="change-section reveal" id="change-password-section">

    <% if(flshMsg) { %>
    <div id="pesan-error">
        <ul>
            <li>
                <%= flshMsg %>
            </li>
        </ul>
    </div>
    <% } %>

    <div class="container-change-pass">

        <!-- Judul Form Change Password -->
        <div class="title">Change Password</div>

        <!-- Form Change Password -->
        <form class="changepassform" action="/change-password?_method=PUT" method="post">

            <!-- Input Hidden UserID -->
            <input type="hidden" name="_id" value="<%= alldataUserProfile._id %>">

            <!-- Input Old Password -->
            <div class="row">
                <i class="fad fa-unlock-alt"></i>
                <input type="password" name="oldpassword" placeholder="Your Old Password" required>
            </div>

            <!-- Input New Password -->
            <div class="row">
                <i class="far fa-lock-alt"></i>
                <input type="password" name="password" placeholder="Your New Password" required>
            </div>

            <!-- Input Confirm New Password -->
            <div class="row">
                <i class="far fa-lock-alt"></i>
                <input type="password" name="password_confirmation" placeholder="Confirm Your New Password" required>
            </div>

            <!-- Button Change Password -->
            <div class="row button">
                <button type="submit">Change Password</button>
            </div>

        </form>

    </div>
</section>
<!-- Change Password Section -->





<script src="/js/navbarscript.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/subscribeform.js"></script>