<!-- Page Header/Breadcumb Section -->
<section class="breadcumb-section contact-header" id="breadcumb-header-section">
    <!-- Judul Breadcumb -->
    <h2 class="page-title">Contact Us</h2>

    <!-- List Breadcumb -->
    <ol class="breadcumb-list">
        <li class="breadcumb-item">
            <a href="/" class="breadcumb-link">Home</a>
        </li>

        <li class="breadcumb-item">
            <a href="/contact" class="breadcumb-item">Contact</a>
        </li>
    </ol>

</section>
<!-- Page Header/Breadcumb Section -->


<!-- Contact Us Section -->
<section class="contact-section reveal" id="contact-us-section">
    <div class="container-contact">
        <!-- Image Contact Us -->
        <div class="image">
            <img src="/img/contact-us.webp" alt="Contact Us" class="contact-animation ">
        </div>

        <!-- Form Contact Us -->
        <div class="form-contact">
            <!-- Judul Form -->
            <h2 class="form-title">Tell Us Something!</h2>

            <!-- Form -->
            <form action="https://formspree.io/f/mvoyoryg" method="post" id="form-contact-us">

                <!-- Name -->
                <div class="name">
                    <label for="name" class="text">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter Your Name" maxlength="50">
                </div>

                <!-- Email -->
                <div class="email">
                    <label for="email" class="text">Email *</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email" maxlength="50" required>
                </div>

                <!-- Message -->
                <div class="msg">
                    <label for="message" class="text">Message *</label>
                    <textarea type="text" name="message" id="message" placeholder="Enter Your Message" maxlength="500"
                        required cols="30" rows="9"></textarea>
                </div>

                <!-- Button Send Message -->
                <button type="submit" class="btn-contact-us">Send Message</button>
            </form>
        </div>

    </div>
</section>
<!-- Contact Us Section -->





<script src="/js/navbarscript.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/contactusform.js"></script>
<script src="/js/subscribeform.js"></script>