<!-- Page Header/Breadcumb Section -->
<section class="breadcumb-section regislogin-header" id="breadcumb-header-section">
    <!-- Judul Breadcumb -->
    <h2 class="page-title">Forgot Password</h2>

    <!-- List Breadcumb -->
    <ol class="breadcumb-list">
        <li class="breadcumb-item">
            <a href="/" class="breadcumb-link">Home</a>
        </li>

        <li class="breadcumb-item">
            <a href="/forgot-password" class="breadcumb-item">Forgot Password</a>
        </li>
    </ol>

</section>
<!-- Page Header/Breadcumb Section -->


<!-- Forgot Password Section -->
<section class="forgot-section reveal" id="forgot-password-section">

    <% if(flshMsg) { %>
    <div id="pesan-error">
        <ul>
            <li>
                <%= flshMsg %>
            </li>
        </ul>
    </div>
    <% } %>

    <div class="container-forgot-pass">

        <!-- Judul Form Forgot Password -->
        <div class="title">Forgot Password</div>

        <!-- Form Forgot Password -->
        <form class="fogotpassform" action="/forgot-password" method="post" id="form-forgot-pass">

            <!-- Input Email -->
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="email" placeholder="Enter Your Email For New Password" name="email" autofocus required>
            </div>


            <!-- Button Send Forgot Password -->
            <div class="row button">
                <button type="submit" class="btn-forgot-pass">Send</button>
            </div>

        </form>

    </div>
</section>
<!-- Forgot Password Section -->





<script src="/js/navbarscript.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/subscribeform.js"></script>