<!-- Hero Section -->
<section class="hero-section" id="hero-slider-section">

    <div class="swiper hero-slider">

        <div class="swiper-wrapper">

            <!-- Slider 1 -->
            <div class="swiper-slide slide">
                <!-- Deskripsi Slider -->
                <div class="content">
                    <Span>Order Now</Span>
                    <h1>Frozen Ingredients</h1>
                    <a href="/product" class="herobtn">View Product</a>
                </div>

                <!-- Gambar Slider -->
                <div class="imagehero">
                    <img src="/img/Slider/home-slider-1.webp" alt="Frozen Ingredients" class="slider-animation">
                </div>
            </div>

            <!-- Slider 2 -->
            <div class="swiper-slide slide">
                <!-- Deskripsi Slider -->
                <div class="content">
                    <Span>Order Now</Span>
                    <h1>Quality Fresh Meatballs</h1>
                    <a href="/product" class="herobtn">View Product</a>
                </div>

                <!-- Gambar Slider -->
                <div class="imagehero">
                    <img src="/img/Slider/home-slider-2.webp" alt="Fresh Meatballs" class="slider-animation">
                </div>
            </div>

            <!-- Slider 3 -->
            <div class="swiper-slide slide">
                <!-- Deskripsi Slider -->
                <div class="content">
                    <Span>Order Now</Span>
                    <h1>Delicious Frozen Food Produts</h1>
                    <a href="/product" class="herobtn">View Product</a>
                </div>

                <!-- Gambar Slider -->
                <div class="imagehero">
                    <img src="/img/Slider/home-slider-3.webp" alt="Delicious Frozen Food Produts"
                        class="slider-animation">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>
<!-- Hero Section -->


<!-- Feature/Why Choose Us Section -->
<section class="feature-section reveal" id="feature-promo-section">
    <div class="container-features">
        <!-- Judul Feature -->
        <h2 class="section-title underline">Why Choose Use ? </h2>

        <!-- Feature list 1 -->
        <ul class="features-list">
            <!-- Item list ke-1 -->
            <li>
                <div class="features-card">

                    <div class="icon">
                        <i class="fal fa-credit-card"></i>
                    </div>

                    <div class="content">
                        <h3 class="h3 title">Free Admin Fees</h3>

                        <p class="text">
                            Layanan kami memberikan Gratis Biaya Admin untuk Setiap Transaksi yang dilakukan.
                        </p>
                    </div>

                </div>
            </li>

            <!-- Item list ke-2 -->
            <li>
                <div class="features-card">

                    <div class="icon">
                        <i class="fal fa-money-check-edit-alt"></i>
                    </div>

                    <div class="content">
                        <h3 class="h3 title">Easily Payment</h3>

                        <p class="text">
                            Kami menyediakan metode pembayaran yang dapat mempermudah anda dalam melakukan
                            Transaksi.
                        </p>
                    </div>

                </div>
            </li>
        </ul>

        <!-- Feature Banner image -->
        <figure class="features-banner">
            <img src="/img/banner/features-banner.webp" width="369" height="318" loading="lazy" alt="Features Banner"
                class="banner-animation">
        </figure>

        <!-- Feature list 2 -->
        <ul class="features-list">
            <!-- Item list ke-3 -->
            <li>
                <div class="features-card">

                    <div class="icon">
                        <i class="fas fa-burger-soda"></i>
                    </div>

                    <div class="content">
                        <h3 class="h3 title">Updated Product</h3>

                        <p class="text">
                            Produk kami selalu diperbarui untuk memenuhi kebutuhan anda.
                        </p>
                    </div>

                </div>
            </li>

            <!-- Item list ke-4 -->
            <li>
                <div class="features-card">

                    <div class="icon">
                        <i class="fas fa-bags-shopping"></i>
                    </div>

                    <div class="content">
                        <h3 class="h3 title">Online Order</h3>

                        <p class="text">
                            Anda dapat memesan produk yang anda inginkan melalui layanan kami secara online.
                        </p>
                    </div>

                </div>
            </li>
        </ul>

    </div>
</section>
<!-- Feature/Why Choose Us Section -->


<!-- Product Recommendation Section -->
<section class="product-section reveal" id="product-recom-section">
    <!-- Judul dan Deskripsi Recom Section -->
    <h2 class="recom-title">Featured <span>Products</span></h2>
    <p>Makanan adalah setiap zat yang dikonsumsi untuk memberikan dukungan nutrisi bagi suatu organisme.</p>

    <!-- Product Recommendation List -->
    <div class="pro-container">
        <!-- Product ke-1 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f1.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Makassar</span>
                    <h3>Sosis Ayam Bernardi</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp74.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-2 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f2.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Jakarta</span>
                    <h3>Bakso Ikan Cedea</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp32.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-3 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f3.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Surabaya</span>
                    <h3>Fish Roll Cedea</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp28.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-4 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f4.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Batam</span>
                    <h3>Fish Roll Cedea</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp28.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-5 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f5.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Solo</span>
                    <h3>Bakso Keju Teryxu</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp42.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-6 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f6.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Malang</span>
                    <h3>Sosis Sampi Bernardi</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp79.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-7 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f7.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Palembang</span>
                    <h3>Bakso Kotak Teryxu</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp40.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-8 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f8.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Papua</span>
                    <h3>Bakso Halus Teryxu</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp37.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

    </div>

</section>
<!-- Product Recommendation Section -->


<!-- Banner CTA(Call to Action) Section -->
<section class="banncta-section reveal" id="banner-cta-section">
    <div class="cta-container">

        <!-- List of CTA Banner -->
        <ul class="cta-banner-list">
            <!-- Large Banner -->
            <li class="banner-item banner-lg">
                <div class="banner-card">
                    <img src="/img/banner/cta-banner1.webp" width="550" height="450" loading="lazy"
                        alt="CTA Banner Picture" class="banner-img">

                    <div class="banner-item-content">
                        <p class="banner-subtitle">100% Free Admin Fees!</p>
                        <h3 class="banner-title">Try Our Delicious Tasty Product!</h3>
                        <p class="banner-text">Free Admin Fees! For Any Transaction</p>
                        <button class="btn"><a href="/product">Order Now</a></button>
                    </div>
                </div>
            </li>

            <!-- Small Banner1 -->
            <li class="banner-item banner-sm banner-sm1">
                <div class="banner-card">
                    <img src="/img/banner/cta-banner2.webp" width="550" height="465" loading="lazy"
                        alt="CTA Banner Picture" class="banner-img">

                    <div class="banner-item-content">
                        <h3 class="banner-title">Delicious Sausage</h3>

                        <p class="banner-text">100% Free Admin Fees</p>

                        <button class="btn"><a href="/product">Order Now</a></button>
                    </div>
                </div>
            </li>

            <!-- Small Banner2 -->
            <li class="banner-item banner-sm banner-sm2">
                <div class="banner-card">
                    <img src="/img/banner/cta-banner3.webp" width="550" height="465" loading="lazy"
                        alt="CTA Banner Picture" class="banner-img">

                    <div class="banner-item-content">
                        <h3 class="banner-title">Delicious Meatballs</h3>

                        <p class="banner-text">100% Free Admin Fees</p>

                        <button class="btn"><a href="/product">Order Now</a></button>
                    </div>
                </div>
            </li>

            <!-- Medium Banner -->
            <li class="banner-item banner-md">
                <div class="banner-card">
                    <img src="/img/banner/cta-banner4.webp" width="550" height="220" loading="lazy"
                        alt="CTA Banner Picture" class="banner-img">

                    <div class="banner-item-content">
                        <h3 class="banner-title">Delicious Fish Rolls</h3>

                        <p class="banner-text">Free Admin Fees for Certain Period</p>

                        <button class="btn"><a href="/product">Order Now</a></button>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>
<!-- Banner CTA(Call to Action) Section -->





<!-- script for SwiperJS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script src="/js/navbarscript.js"></script>
<script src="/js/sliderscript.js"></script>
<script src="/js/api/status.js"></script>
<script src="/js/api/homepageapi.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/subscribeform.js"></script>

<!-- script for register sw.js -->
<script src="/js/swregist.js"></script>