<!-- Offline Page Section -->
<section class="pagenot-section" id="pagenot-found-section">
    <div class="container-pagenot-found">

        <!-- Error Page Title -->
        <h1>Oops! <span>Your Internet is Off...</span></h1>

        <!-- Image Offline -->
        <div class="img-wrapper">
            <img src="/img/offline.gif" alt="404 Error Image" class="banner-animation">
        </div>

        <!-- Offline Page Description -->
        <div class="text-error-page">
            <p>Sorry We Cant Find The Page You Are Looking For.</p>
            <p>Please Make Sure You Have Internet Connection And Try Again.</p>
        </div>
        <a href="/" class="btn-back-home">Back To Home</a>

    </div>
</section>
<!-- Offline Page Section -->





<script src="/js/navbarscript.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/subscribeform.js"></script>