<!-- Page Header/Breadcumb Section -->
<section class="breadcumb-section" id="breadcumb-header-section">
    <!-- Judul Breadcumb -->
    <h2 class="page-title">Products</h2>

    <!-- List Breadcumb -->
    <ol class="breadcumb-list">
        <li class="breadcumb-item">
            <a href="/" class="breadcumb-link">Home</a>
        </li>

        <li class="breadcumb-item">
            <a href="/product" class="breadcumb-item">Products</a>
        </li>
    </ol>

</section>
<!-- Page Header/Breadcumb Section -->


<!-- Product Recommendation Section -->
<section class="product-section reveal" id="product-recom-section">

    <!-- Product Recommendation List -->
    <div class="pro-container">
        <!-- Product ke-1 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f1.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Makassar</span>
                    <h3>Sosis Ayam Bernardi</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp74.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-2 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f2.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Jakarta</span>
                    <h3>Bakso Ikan Cedea</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp32.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-3 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f3.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Surabaya</span>
                    <h3>Fish Roll Cedea</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp28.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-4 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f4.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Batam</span>
                    <h3>Fish Roll Cedea</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp28.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-5 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f5.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Solo</span>
                    <h3>Bakso Keju Teryxu</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp42.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-6 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f6.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Malang</span>
                    <h3>Sosis Sampi Bernardi</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp79.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-7 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f7.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Palembang</span>
                    <h3>Bakso Kotak Teryxu</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp40.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

        <!-- Product ke-8 -->
        <div class="pro-card">
            <a href="#">
                <!-- image product -->
                <div class="pro-image">
                    <img src="img/products/f8.jpg" alt="Photo Product" class="pro-animation">
                </div>

                <!-- product info -->
                <div class="des-pro">
                    <span><i class="fal fa-map-marker-alt"></i> Papua</span>
                    <h3>Bakso Halus Teryxu</h3>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Rp37.000</h4>
                </div>
            </a>

            <!-- product button Cart -->
            <i class="fal fa-shopping-cart btn-cart"></i>
        </div>

    </div>

    <!-- Button Load More Product -->
    <div class="btn-load-more">
        <button class="btnload btnloadfect" id="btn-loadmore-product">
            <i class="fas fa-sync-alt"></i>
            &ensp; Load More &ensp;
            <i class="fas fa-sync-alt"></i>
        </button>
    </div>

</section>
<!-- Product Recommendation Section -->





<script src="/js/navbarscript.js"></script>
<script src="/js/api/status.js"></script>
<script src="/js/api/productpageapi.js"></script>
<script src="/js/scrolltotop.js"></script>
<script src="/js/subscribeform.js"></script>